//colori principali
$primary-color-1: #8e210b;
$primary-color-2: white;





//colori secondari
$secondary-light-color-1: #481005;
$secondary-light-color-2: rgba(170, 170, 170);


//scala di grigi
$grey-1:rgb(255,255,255);
$grey-2: rgb(206,206,206);
$grey-3: rgb(136,136,136);
$grey-4: rgb(112,112,112);


//testi
