<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-red">
    <img src="../asserts/images/icona-cibando.png" class="icona-cibando" rputerLink="home">
    <a class="navbar-brand" routerLink="home">Cibando</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="home"><i class="pi pi-home" style="font-size: 1rem">Home</i></a>
        <a class="nav-item nav-link" routerLink="ricette"><i class="pi pi-book" style="font-size: 1rem">Ricette</i></a>
        <a class="nav-item nav-link"><i class="pi pi-envelope" style="font-size: 1rem">Contatti</i></a>
        <li class ="nav-item">
          <a class="nav-link" routerLink="registrazione"><i class="pi pi-envelope" style="font-size: 1rem">Registrazione</i></a>
        </li>
      </div>

    </div>
  </nav>
</header>
<form [formGroup]="pippo"></form>
