@import "../../../styles/colori.scss";


.card-image{
  height: 200px;
  background-size:  cover;
  background-repeat:  no-repeat;
  background-position: top;
}
.card-title{
  font-weight: bold;
  font-size:  16px;
  color: #8e210b;

}
.card-text{
  text-align: justify;
}

.container-cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 15px,
}
