.container-title {
  h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
  }
  p {
    font-size: 11px;
    color: gray;
    font-weight: 200;
  }
}

.bg-red {
  background-color: #8e210b!important;
}

header {
  background-color: #8e210b!important;
}


